<div>
  <el-row>
    <el-col :span="3" style="text-align: left;">
      <div style="display: table-cell;vertical-align: middle;"><span style="vertical-align: middle;display: inline-block;line-height: normal">姓名</span></div>
    </el-col>
    <el-col :span="9">
      <div>alsfjd
        <el-input placeholder="dfdfaf red" label="姓名">
        </el-input>
      </div>
    </el-col>
    <el-col :span="12">
      <el-input placeholder="dfdfaf red" label="姓名">
      </el-input>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span="12">姓名
      <div class="grid-content bg-purple">
        <el-input placeholder="dfdf" label="姓名" disabled="true">
        </el-input>
      </div>
    </el-col>
    <el-col :span="12">
      <div class="demo-input-suffix">
        属性方式：
        <el-input placeholder="请选择日期" suffix-icon="el-icon-date">
        </el-input>
      </div>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span="8">
      <div class="grid-content bg-purple">上联：文档注释一应俱全 下联：脊柱腰椎早日康复 横批：鞠躬尽瘁</div>
    </el-col>
    <el-col :span="8">
      <div class="grid-content bg-purple-light">上联：文档注释一应俱全 下联：脊柱腰椎早日康复 横批：鞠躬尽瘁</div>
    </el-col>
    <el-col :span="8">
      <div class="grid-content bg-purple">上联：文档注释一应俱全 下联：脊柱腰椎早日康复 横批：鞠躬尽瘁

      </div>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span="6">
      <div class="grid-content bg-purple">上联：文档注释一应俱全 下联：脊柱腰椎早日康复 横批：鞠躬尽瘁

      </div>
    </el-col>
    <el-col :span="6">
      <div class="grid-content bg-purple-light">上联：文档注释一应俱全 下联：脊柱腰椎早日康复 横批：鞠躬尽瘁

      </div>
    </el-col>
    <el-col :span="6">
      <div class="grid-content bg-purple">上联：文档注释一应俱全 下联：脊柱腰椎早日康复 横批：鞠躬尽瘁

      </div>
    </el-col>
    <el-col :span="6">
      <div class="grid-content bg-purple-light">上联：文档注释一应俱全 下联：脊柱腰椎早日康复 横批：鞠躬尽瘁

      </div>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span="4">
      <div class="grid-content bg-purple">上联：文档注释一应俱全 下联：脊柱腰椎早日康复 横批：鞠躬尽瘁

      </div>
    </el-col>
    <el-col :span="4">
      <div class="grid-content bg-purple-light">上联：文档注释一应俱全 下联：脊柱腰椎早日康复 横批：鞠躬尽瘁

      </div>
    </el-col>
    <el-col :span="4">
      <div class="grid-content bg-purple">上联：文档注释一应俱全 下联：脊柱腰椎早日康复 横批：鞠躬尽瘁

      </div>
    </el-col>
    <el-col :span="4">
      <div class="grid-content bg-purple-light">
        <div>
          <el-input placeholder="233" v-model="input3" label="姓名" disabled="true">
          </el-input>
        </div>
      </div>
    </el-col>
    <el-col :span="4">
      <div class="grid-content bg-purple">上联：文档注释一应俱全 下联：脊柱腰椎早日康复 横批：鞠躬尽瘁

      </div>
    </el-col>
    <el-col :span="4">
      <div class="grid-content bg-purple-light">上联：文档注释一应俱全 下联：脊柱腰椎早日康复 横批：鞠躬尽瘁

      </div>
    </el-col>
  </el-row>
</div>
